/*
************************************************************
This css give the main page behiour and style for the menu
menu buttons, header etc.
************************************************************
*/
body, html {
  background-color: #D6D9D5;
}

/*
************************************************************
                         Header CSS
************************************************************
*/
.fsm-header {
  background-color: #0A2433;
  color: #f1f1f1;
  z-index: 10001;
}

.fsm-menu-toggle .fsm-header {
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
}

@media (min-width: 768px) {
  .fsm-header {
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
  }

  .fsm-menu-toggle .fsm-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  }
}

.fsm-header .fsm-logo {
  background: #0A2433 no-repeat center center fixed;
  border: 1px dotted #f1f1f1;
  color: #f1f1f1;
  position: fixed;
  right: 7px;
  left: auto;
}

/*
************************************************************
                        Side Menu
************************************************************
*/
.fsm-menu {
  border-top: 0px solid #0a2433;
  top: 0px;
  color: #f1f1f1;
  background-color: #ab3333;
  z-index: 10002;
}
/*
************************************************************
                        Menu Button
************************************************************
*/
.fsm-menu-button {
  position: fixed;
  left: -10px;
  top: 3px;
  width: 48px;
  height: 44px;
  border-radius: 10px;
  color: #f1f1f1;
  background: #ab3333;
  transition-property: left;
  transition-duration: .4s;
}

.fsm-menu-button i {
  position: relative;
  top: 8px;
}

.fsm-menu-toggle .fsm-menu-button {
  left: 240px;
}

@media (min-width: 768px) {
  .fsm-menu-button {
    left: 240px;
  }

  .fsm-menu-toggle .fsm-menu-button {
    left: -10px;
  }
}