body, html {
  height: 100%;
  font-family: verdana;
  padding: 0;
  margin: 0;
  background-color: #d6d9d5;
}

.fsm-dashboard {
  padding-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 0;
  transition-property: padding-left;
  transition-duration: .4s;
}

@media (min-width: 768px) {
  .fsm-dashboard {
    padding-left: 250px;
    transition-property: padding-left;
    transition-duration: .4s;
  }

  .fsm-menu-toggle .fsm-dashboard {
    padding-left: 0;
    transition-property: padding-left;
    transition-duration: .4s;
  }
}

.fsm-header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #0a2433;
  color: #262626;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
  text-align: center;
  z-index: 10002;
  overflow: none;
  transition-property: box-shadow;
  transition-duration: .4s;
}

.fsm-menu-toggle .fsm-header {
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
  transition-property: box-shadow;
  transition-duration: .4s;
}

@media (min-width: 768px) {
  .fsm-header {
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
    transition-property: box-shadow;
    transition-duration: .4s;
  }

  .fsm-menu-toggle .fsm-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    transition-property: box-shadow;
    transition-duration: .4s;
  }
}

.fsm-sticky-header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  border-radius: 2px !important;
}

.fsm-header .fsm-logo {
  background: #0a2433 no-repeat center center fixed;
  position: fixed;
  height: 35px;
  width: 150px;
  left: 45px;
  top: 3px;
}

.fsm-menu {
  /*display: none;*/
  border-top: 0px solid #0a2433;
  background-color: #ab3333;
  color: #d6d9d5;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.15);
  width: 250px;
  position: fixed;
  top: 0px;
  left: -252px;
  bottom: 0px;
  overflow-x: none;
  overflow-y: auto;
  z-index: 10003;
  transition-property: left;
  transition-duration: .4s;
}

.fsm-menu-toggle .fsm-menu {
  left: 0;
  transition-property: left;
  transition-duration: .4s;
}

@media (min-width: 768px) {
  .fsm-menu {
    /*display: block;*/
    left: 0;
    transition-property: left;
    transition-duration: .4s;
  }

  .fsm-menu-toggle .fsm-menu {
    left: -252px;
    transition-property: left;
    transition-duration: .4s;
  }

}

.fsm-menu-button {
  position: fixed;
  left: -10px;
  top: 3px;
  width: 48px;
  height: 44px;
  border: 1px 1px 1px 0 solid #f1f1f1;
  border-radius: 10px;
  color: #f1f1f1;
  background: #ab3333;
  cursor: pointer;
  transition-property: left;
  transition-duration: .4s;
}

.fsm-menu-button i {
  position: fixed;
  left: -1px;
  top: 11px;
  transition-property: left;
  transition-duration: .4s;
}

.fsm-menu-toggle .fsm-menu-button {
  left: 240px;
  transition-property: left;
  transition-duration: .4s;
}

.fsm-menu-toggle .fsm-menu-button i {
  left: 249px;
  transition-property: left;
  transition-duration: .4s;
}

@media (min-width: 768px) {
  .fsm-menu-button {
    left: 240px;
    transition-property: left;
    transition-duration: .4s;
  }

  .fsm-menu-toggle .fsm-menu-button {
    left: -10px;
    transition-property: left;
    transition-duration: .4s;
  }
}

@media (min-width: 768px) {
  .fsm-menu-button i {
    left: 249px;
    transition-property: left;
    transition-duration: .4s;
  }

  .fsm-menu-toggle .fsm-menu-button i {
    left: -1px;
    transition-property: left;
    transition-duration: .4s;
  }
}

.fsm-page-content {
  padding: 20px;
}

.section {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  background-color: #FFF;
  width: %100;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
  background-color: #FFF;
  border-radius: 2px;
}

th { 
  background-color: #f1f1f1; 
  padding: 10px; 
  text-align: left;
}

tr {
  /*border-top: 1px solid #0a2433;*/
}

tr:nth-child(even) {
  background: #f1f1f1;
}

td { 
  padding: 10px;
}

.text-area {
  margin-top: 20px;
  line-height: 1.5;
  border-radius: 2px;
}

.text-area > h2 {
  /*border-top: 1px solid #0a2433;*/
  background: #f1f1f1;
  padding: 10px;
  font: 28px Verdana, Serif;
  margin: 0 0 20px 0;
}

.text-area .text-content {
  padding: 2px;
}