body, html {
  height: 100%;
  font-family: verdana;
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

.fsm-dashboard {
  padding-top: 40px;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 0;
  transition-property: padding-left;
  transition-duration: .5s;
}

@media (min-width: 768px) {
  .fsm-dashboard {
    padding-left: 250px;
    transition-property: padding-left;
    transition-duration: .5s;
  }

  .fsm-menu-toggle .fsm-dashboard {
    padding-left: 0;
    transition-property: padding-left;
    transition-duration: .5s;
  }
}

.fsm-header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #FFF;
  color: #262626;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
  text-align: center;
  z-index: 10002;
  overflow: none;
  transition-property: box-shadow;
  transition-duration: .5s;
}

.fsm-menu-toggle .fsm-header {
  box-shadow: 250px 2px 4px 0 rgba(0,0,0,.15);
  transition-property: box-shadow;
  transition-duration: .5s;
}

@media (min-width: 768px) {
  .fsm-header {
    box-shadow: 250px 2px 4px 0 rgba(0,0,0,.15);
    transition-property: box-shadow;
    transition-duration: .5s;
  }

  .fsm-menu-toggle .fsm-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    transition-property: box-shadow;
    transition-duration: .5s;
  }
}

.fsm-sticky-header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.fsm-header .fsm-logo {
  background: #FFF no-repeat center center fixed;
  position: fixed;
  height: 35px;
  width: 150px;
  left: 45px;
  top: 3px;
}

.fsm-menu {
  /*display: none;*/
  border-top: 1px solid #d8d8d8;
  background-color: #FFF;
  color: #262626;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.15);
  width: 250px;
  position: fixed;
  top: 40px;
  left: -250px;
  bottom: 0px;
  overflow-x: none;
  overflow-y: auto;
  z-index: 10001;
  transition-property: left;
  transition-duration: .5s;
}

.fsm-menu-toggle .fsm-menu {
  left: 0;
  transition-property: left;
  transition-duration: .5s;
}

@media (min-width: 768px) {
  .fsm-menu {
    /*display: block;*/
    left: 0;
    transition-property: left;
    transition-duration: .5s;
  }

  .fsm-menu-toggle .fsm-menu {
    left: -250px;
    transition-property: left;
    transition-duration: .5s;
  }

}

.fsm-menu-button {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  color: #FFF;
  background: #000;
  cursor: pointer;
}

.fsm-menu-button i {
  position: fixed;
  left: 7px;
  top: 7px;
  transition-property: left;
  transition-duration: .5s;
}

.fsm-menu-toggle .fsm-menu-button i {
  left: -7px;
  transition-property: left;
  transition-duration: .5s;
}

@media (min-width: 768px) {
  .fsm-menu-button i {
    left: -7px;
    transition-property: left;
    transition-duration: .5s;
  }

  .fsm-menu-toggle .fsm-menu-button i {
    left: 7px;
    transition-property: left;
    transition-duration: .5s;
  }
}

.fsm-page-content {
  padding: 20px;
}

.section {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  background-color: #FFF;
  width: %100;
}

table {
  /*border-top: 1px solid #d8d8d8;*/
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.15);
  background-color: #FFF;
  border-radius: 2px;
}

th { 
  background-color: #eee; 
  padding: 10px; 
  text-align: left;
}

tr {
  border-top: 1px solid #d8d8d8;
}

tr:nth-child(odd) {
  background: #eee;
}

td { 
  padding: 10px;
}

.text-area {
  margin-top: 20px;
  line-height: 1.5;
  border-radius: 2px;
}

.text-area > h2 {
  border-top: 1px solid #d8d8d8;
  background: #F1F1F1;
  padding: 10px;
  font: 28px Verdana, Serif;
  margin: 0 0 20px 0;
}

.text-area .text-content {
  padding: 2px;
}